.form-body-component {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(141, 141, 141, 0.1);
  border: 1px solid #ddd;
  width: 650px;
  height: 200px;
  padding: 0 12px;
}

.form-component {
  border-radius: 20px;
  box-shadow: 0 4px 0px #e5e5f7;
  width: 40rem;
}

.form-title-container {
  position: relative;
  top: 30px;
  left: 30px;
}

.form-custom-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 20px;
}

.submit-button {
  background-color: #e5e5f7;
  box-shadow: 0 2px 0px #bcbcdd;
  border: #8ca9c8 1px solid;
  font-size: 14px;
}

.submit-button:hover {
  background-color: #bcbcdd;
  border: none;
  font-size: 13px;
}

.form-control {
  font-size: 0.8rem;
  outline: none
}

.form-control:focus {
  outline: none;
  border-color: #bcbcdd;
  box-shadow: 0 0px 1px #bcbcdd inset, 0 0 1px#bcbcdd;
}