.dotted-separator {
  border-top: 0.30rem dotted lightgray;
  width: 60rem;
  margin: 0 auto;
  margin-top: 3.125rem;
  display: flex;
}

.btn-sort {
  background-color: transparent;
  border: none;
}

.btn-sort:hover {
  border-color: #bcbcdd;
  background-color: #e5e5f7;
}

.search-box {
  outline: none 
}

.search-box:focus {
  outline: none;
  border-color: #bcbcdd; 
  box-shadow: 0 0px 1px #bcbcdd inset, 0 0 1px#bcbcdd;
}