.purchase-option {
  display: flex;
  align-items: center;
  margin-bottom: 12px; /* Espacio entre las opciones */
}

.button-page-web {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid rgb(156, 156, 156);
  color: rgb(156, 156, 156);
  margin: 0 5px;
}

.cantidad-seleccionada-web {
  width: 25px;
  height: 20px;
  border-radius: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1.8px solid rgb(156, 156, 156);
  color: rgb(156, 156, 156);
  margin: 0 5px;
}

.info-button {
  width: 10px; /* Ajusta el tamaño según sea necesario */
  height: 10px; /* Ajusta el tamaño según sea necesario */
  border-radius: 50%; /* Hace el botón redondo */
  border: none; /* Elimina el borde por defecto */
  background-color: #e5e5f7; /* Color de fondo  */
  color: #bcbcdd; /* Color del texto */
  font-size: 8px; /* Tamaño de la fuente */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: background-color 0.3s ease; /* Transición para el efecto hover */
  margin-right: 10px; /* Espacio a la derecha del botón */
}

.info-button:hover {
  background-color: #bcbcdd; /* Color de fondo al hacer hover */
  color: #e5e5f7;
}
